root = true

[*.html]
indent_size = 2
indent_style = space
trim_trailing_whitespace = true

[*.css]
indent_size = 2
indent_style = space
trim_trailing_whitespace = true

[*.java]
indent_size = 4
indent_style = space
trim_trailing_whitespace = true