h3 {
  font-size: small;
}

#main-page {
  background: white;
}
.nav-elem {
  float: right;
  list-style-type: none;
  height: 50%;
  width: auto;
  padding: calc(0.1% + 10px);

}

nav {
  display: inline-block;
  width: 100%;
}

.border-colored {
  border-style: solid;
  border-color: coral;
}


#profile-img {
  border-radius: 30%;
  /*height: calc(100% - 30px);*/
}
