h3 {
  font-size: small;
}

#main-page {
  background: white;
}

.nav-elem {
  float: right;
  list-style-type: none;
  height: auto;
  width: 9%;
  padding: calc(0.1% + 10px);
}

nav {
  display: inline-block;
  width: 100%;
}

.border-colored {
  border-style: solid;
  border-color: coral;
}


#profile-img {
  border-radius: 26%;
}
